<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom">
        <div class="container text-center text-md-start mt-2">
            <div class="row mt-2">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
                    <h6 class="text-uppercase fw-bold mb-2">
                        <i class="fas fa-gem me-2"></i>© Mangathèque
                    </h6>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
                    <h6 class="text-uppercase fw-bold mb-3">
                        Réseaux Sociaux
                    </h6>
                    <p>
                        <a href="#" aria-label="Logo twitter" class="text-muted text-decoration-none">
                            <img src="/assets/images/twitter.png" alt="" class="me-1">
                            Twitter
                        </a>
                    </p>
                    <p>
                        <a href="#" aria-label="Logo instagram" class="text-muted text-decoration-none">
                            <img src="/assets/images/instagram.png" alt="" class="me-1">
                            Instagram
                        </a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-1">
                    <h6 class="text-uppercase fw-bold mb-3">
                        Contact
                    </h6>
                    <p>
                        <i class="fas fa-home me-2"></i> Valentin Sepré
                    </p>
                    <p>
                        <i class="fas fa-envelope me-2"></i> valentin.sepre@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-2"></i> + 01 234 567 88</p>
                </div>
            </div>
        </div>
    </section>
</footer>