<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom"> <!-- Réduction de l'espacement -->
        <div class="container text-center text-md-start mt-2">
            <div class="row mt-2"> <!-- Réduction de l'espacement -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2"> <!-- Réduction de la marge en bas -->
                    <h6 class="text-uppercase fw-bold mb-2"> <!-- Réduction de la marge en bas -->
                        <i class="fas fa-gem me-2"></i>© Mangathèque
                    </h6>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2"> <!-- Réduction de la marge en bas -->
                    <h6 class="text-uppercase fw-bold mb-2"> <!-- Réduction de la marge en bas -->
                        Réseaux Sociaux
                    </h6>
                    <p> <!-- Réduction de la marge en bas -->
                        <a href="#!" aria-label="Logo twitter" class="text-reset"><img src="twitter.png" alt=""></a>
                    </p>
                    <p>
                        <a href="#!" aria-label="Logo instagram" class="text-reset"><img src="instagram.png" alt=""></a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-1"> <!-- Réduction de la marge en bas -->
                    <h6 class="text-uppercase fw-bold mb-1"> <!-- Réduction de la marge en bas -->
                        Contact
                    </h6>
                    <p > <!-- Réduction de la marge en bas -->
                        <i class="fas fa-home me-2"></i> Rémi Trouillard
                    </p>
                    <p >
                        <i class="fas fa-envelope me-2"></i> remi-bg-du-72@bgbg.fr
                    </p>
                    <p><i class="fas fa-phone me-2"></i> + 01 234 567 88</p>
                </div>
            </div>
        </div>
    </section>
</footer>