<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid">
            <a class="navbar-brand" aria-label="Logo du site" href="/"><img src="/assets//images/bande-dessinee (1).png"
                    alt=""></a>
            <a class="navbar-brand" aria-label="Nom du site" href="/">MANGATHÈQUE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto align-items-center mb-2 mb-lg-0 d-flex">
                    <li class="me-2 mt-2 btn border-light">
                        <a href="{{#if username}}/Account{{else}}/Login{{/if}}" aria-label="Compte utilisateur"><img src="/assets/images/utilisateur.png"
                                style="height: 32px;" alt=""></a>
                    </li>
                    <li class="me-2 mt-2 ">
                        <button aria-label="Dark mode" class="btn border-light">
                            <img id="lightmode" src="/assets/images/moon.png" alt="">
                        </button>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Genres
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Shonen</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Mangas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Tendances</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>