 <div class="d-flex justify-content-center text-warning ">
{{#if username}}
            <h3 class="ms-5 mt-3 ">Bonjour {{username}}</h3>
            {{/if}}
 </div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="py-4 px-4">
                <div class="d-flex align-items-center mb-3">
                    <h4 class="mb-0 text-center flex-grow-1">Mangas à voir</h4>
                    <a href="#" class="btn btn-link text-muted">Voir plus</a>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6 mb-2 pr-lg-1">
                        <div class="card border-2 border-white">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-3.jpg" alt=""
                                class="card-img-top img-fluid rounded shadow-sm">
                        </div>
                    </div>
                    <div class="col-lg-6 mb-2 pl-lg-1">
                        <div class="card border-2 border-white">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-4.jpg" alt=""
                                class="card-img-top img-fluid rounded shadow-sm">
                        </div>
                    </div>
                    <div class="col-lg-6 pr-lg-1 mb-2">
                        <div class="card border-2 border-white">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-5.jpg" alt=""
                                class="card-img-top img-fluid rounded shadow-sm">
                        </div>
                    </div>
                    <div class="col-lg-6 pl-lg-1">
                        <div class="card border-2 border-white">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-6.jpg" alt=""
                                class="card-img-top img-fluid rounded shadow-sm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="py-4 px-4">
                <div class="d-flex align-items-center mb-3">
                    <h4 class="mb-0 text-center flex-grow-1">Mangas déjà vu</h4>
                    <a href="#" class="btn btn-link text-muted">Voir plus</a>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6 mb-2 pr-lg-1">
                        <div class="card border-2 border-white">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-3.jpg" alt=""
                                class="card-img-top img-fluid rounded shadow-sm">
                        </div>
                    </div>
                    <div class="col-lg-6 mb-2 pl-lg-1">
                        <div class="card border-2 border-white">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-4.jpg" alt=""
                                class="card-img-top img-fluid rounded shadow-sm">
                        </div>
                    </div>
                    <div class="col-lg-6 pr-lg-1 mb-2">
                        <div class="card border-2 border-white">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-5.jpg" alt=""
                                class="card-img-top img-fluid rounded shadow-sm">
                        </div>
                    </div>
                    <div class="col-lg-6 pl-lg-1">
                        <div class="card border-2 border-white">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-6.jpg" alt=""
                                class="card-img-top img-fluid rounded shadow-sm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="py-4 px-4">
                <div class="d-flex align-items-center mb-3">
                    <h4 class="mb-0 text-center flex-grow-1">Mangas favoris</h4>
                    <a href="#" class="btn btn-link text-muted">Voir plus</a>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6 mb-2 pr-lg-1">
                        <div class="card border-2 border-white">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-3.jpg" alt=""
                                class="card-img-top img-fluid rounded shadow-sm">
                        </div>
                    </div>
                    <div class="col-lg-6 mb-2 pl-lg-1">
                        <div class="card border-2 border-white">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-4.jpg" alt=""
                                class="card-img-top img-fluid rounded shadow-sm">
                        </div>
                    </div>
                    <div class="col-lg-6 pr-lg-1 mb-2">
                        <div class="card border-2 border-white">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-5.jpg" alt=""
                                class="card-img-top img-fluid rounded shadow-sm">
                        </div>
                    </div>
                    <div class="col-lg-6 pl-lg-1">
                        <div class="card border-2 border-white">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-6.jpg" alt=""
                                class="card-img-top img-fluid rounded shadow-sm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>