<div class="card w-50 mx-auto mt-5 ">
  <div class="card-header bg-warning-subtle text-white">
    Connexion
  </div>
  <div class="card-body">
    <form method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Adresse mail</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="d-grid justify-content-center ">
        <a class="text-decoration-none text-warning" href="">Mot de passe oublié ?</a>
        <a class="text-decoration-none text-warning " href="">Vous n'êtes pas inscrit ?</a>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <button type="submit" class="btn btn-warning ">Se connecter</button>
      </div>
    </form>
  </div>
</div>