<div class="container p-5">
    <div class="card w-50 mx-auto mt-3 ">
        <div class="card-header bg-warning-subtle text-center text-uppercase ">
            Ajouter un manga
        </div>
        <div class="card-body">
            <form action="/addMangas" enctype="multipart/form-data" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Titre</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Auteur</label>
                    <input type="text" class="form-control" id="author" name="author">
                </div>
                <div class="mb-3">
                    <label for="kind" class="form-label">Genre</label>
                    <input type="text" class="form-control" id="kind" name="kind">
                </div>
                <div class="mb-3">
                    <label for="volume" class="form-label">Nombre de tomes</label>
                    <input type="number" class="form-control" id="volume" name="volume">
                </div>
                <div class="mb-3">
                    <label for="image_url" class="form-label">Ajouter une image</label>
                    <input type="file" class="form-control" id="image_url" name="image_url">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="8"></textarea>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-warning ">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>