<main>
    <div class="d-flex justify-content-center mt-5">
        <h1>Dernières sorties</h1>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide mt-3" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/Goku.jpg" class="d-block mx-auto card img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/Doctor Doom.jpg" class="d-block mx-auto card img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/884.jpg" class="d-block mx-auto card img-fluid" alt="...">
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col-lg-6 mb-3"> 
            <div class="card mx-auto h-100">
                <div class="card-header bg-warning-subtle text-center text-uppercase">
                    Évènements
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur magni enim assumenda recusandae nobis obcaecati vero aspernatur repudiandae reiciendis, numquam deleniti voluptatibus sed ullam fugiat, voluptate quidem provident et atque.
                    Fugit iusto quidem eius reprehenderit quos inventore harum, minima velit, cumque aut debitis tempora corrupti magnam ullam magni vitae repellat? Quod eum facere odio natus aut, laboriosam eligendi minus obcaecati?
                    Nam ut vel quos, blanditiis, delectus error quisquam quod saepe enim libero sit, dignissimos consequuntur id fuga eligendi distinctio voluptatem dicta quo cumque quae. Corrupti laboriosam qui voluptate excepturi doloribus!
                    Sint atque porro quisquam natus fugiat ipsa qui corporis expedita totam minima nulla placeat labore sit, ea quis dicta culpa explicabo, aperiam officiis odit alias tempora voluptas exercitationem laboriosam. Accusamus!
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3"> <!-- Utilisation de col-lg-6 pour la moitié de la largeur sur les écrans de bureau larges -->
            <div class="card mx-auto h-100">
                <div class="card-header bg-warning-subtle text-center text-uppercase">
                    Actualités
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur magni enim assumenda recusandae nobis obcaecati vero aspernatur repudiandae reiciendis, numquam deleniti voluptatibus sed ullam fugiat, voluptate quidem provident et atque.
                    Fugit iusto quidem eius reprehenderit quos inventore harum, minima velit, cumque aut debitis tempora corrupti magnam ullam magni vitae repellat? Quod eum facere odio natus aut, laboriosam eligendi minus obcaecati?
                    Nam ut vel quos, blanditiis, delectus error quisquam quod saepe enim libero sit, dignissimos consequuntur id fuga eligendi distinctio voluptatem dicta quo cumque quae. Corrupti laboriosam qui voluptate excepturi doloribus!
                    Sint atque porro quisquam natus fugiat ipsa qui corporis expedita totam minima nulla placeat labore sit, ea quis dicta culpa explicabo, aperiam officiis odit alias tempora voluptas exercitationem laboriosam. Accusamus!
                </div>
            </div>
        </div>
    </div>
</main>