<div class="container p-5">
  <div class="row ">
    <div class="col-md-6 mx-auto text-center">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      {{#if errors}}
      {{#each errors}}
      <div class="mb-3 text-danger" id=".global-error">
        <span>{{msg}}</span>
      </div>
      {{/each}}
      {{/if}}
      <div class="card">
        <div class="card-header text-center text-uppercase bg-warning-subtle ">
          Inscription
        </div>
        <div class="card-body">
          <form action="/Inscription" method="post" id="inscription">
            <div class="mb-3">
              <label for="username" class="form-label">Nom d'utilisateur</label>
              <input name="username" type="text" class="form-control" id="username" placeholder="username">
              <span class="error" role="alert-alert"></span>

            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Adresse mail</label>
              <input name="email" type="email" class="form-control" id="email" placeholder="nom@exemple.fr">
              <span class="error" role="alert-alert"></span>

            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Mot de passe</label>
              <input name="password" type="password" class="form-control" id="password" placeholder="Mot de passe">
              <span class="error" role="alert-alert"></span>
            </div>

            <div class="mb-3">
              <label for="confPassword" class="form-label">Confirmation du mot de passe</label>
              <input name="confPassword" type="password" class="form-control" id="confPassword"
                placeholder="Confirmer le mot de passe">
              <span class="error" role="alert-alert"></span>
            </div>
            <div class="mt-5">
              <strong>Votre mot de passe doit contenir :</strong>
              <ul class="list-unstyled">
                <li class="mt-3">Au minimum 7 caractères</li>
                <li>Une lettre majuscule</li>
                <li>Une lettre minuscule</li>
                <li>Un chiffre</li>
                <li>Un caractère spécial</li>
              </ul>
            </div>

            <div class="mb-3 d-flex justify-content-center" id="buttonDiv">
              <button class="btn btn-warning" type="button" onclick="validerFormulaire()">Inscription</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>