<div class="container">
    <div class="row">
        <div class="col">
            <div class="py-4 px-4">
                <div class="d-flex align-items-center mb-3">
                    <h4 class="mb-0 text-center flex-grow-1">Genres</h4>
                </div>
                <hr>
                <div class="row justify-content-center"> 
                    <div class="col-lg-4 mb-2">
                        <div class="card-img">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-3.jpg" alt=""
                                class=" card rounded shadow-sm w-100 border-2 border-white"> 
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="card-img">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-3.jpg" alt=""
                                class=" card rounded shadow-sm w-100 border-2 border-white"> 
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="card-img">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-3.jpg" alt=""
                                class=" card rounded shadow-sm w-100 border-2 border-white"> 
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card-img">
                            <img src="https://bootstrapious.com/i/snippets/sn-profile/img-3.jpg" alt=""
                                class=" card rounded shadow-sm w-100 border-2 border-white"> 
                        </div>
                        <div class="modal-body">
                            Voulez-vous supprimer ce manga définitivement ? : {{title}}
                        </div>
                        <div class="modal-footer">
                            <form action="/NewsMangas/delete/{{id}}" method="post">
                                <button type="submit" class="btn bg-danger-subtle border-white">Supprimer définitivement</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        {{#unless mangas}}
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    Il n'y a pas d'articles disponibles pour le moment.
                </div>
            </div>
        {{/unless}}
    </div>
</div>