<div class="container p-5">
  <div class="card w-50 mx-auto mt-5 ">
    <div class="card-header bg-warning-subtle text-center text-uppercase ">
      Connexion
    </div>
    {{#if error}}
    <div>
      <div class="alert alert-danger text-center" role="alert" id="global-error">
        {{error}}
      </div>
    </div>
    {{/if}}
    <div class="card-body">
      <form action="/Login" method="post" id="Login">
        <div class="mb-3">
          <label for="email" class="form-label">Adresse mail</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="d-grid ">
          <a class=" text-warning link-offset-1-hover  " href="">Mot de passe oublié ?</a>
          <a class=" text-warning link-offset-1-hover " href="/Inscription">Vous n'êtes pas inscrit ?</a>
        </div>
        <div class="d-flex justify-content-center mt-3" id="buttonDiv">
          <button type="button" class="btn btn-warning " onclick="validerConnexion()">Se connecter</button>
        </div>
      </form>
    </div>
  </div>
</div>