<div class="container p-5">
    <div class="card w-50 mx-auto mt-3 ">
        <div class="card-header bg-warning-subtle text-center text-uppercase ">
            Proposer un nouveau manga
        </div>
        <div class="card-body">
            <form action="/ProposeNewManga" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Titre</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Auteur</label>
                    <input type="text" class="form-control" id="author" name="author">
                </div>
                <div class="mb-3">
                    <label for="kind" class="form-label">Genre</label>
                    <input type="text" class="form-control" id="kind" name="kind">
                </div>
                <div class="mb-3">
                    <label for="volume" class="form-label">Nombre de tomes</label>
                    <input type="number" class="form-control" id="volume" name="volume">
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-warning ">Envoyer la demande</button>
                </div>
            </form>
        </div>
    </div>
</div>