<div class="container p-5">
    <div class="card w-50 mx-auto mt-3 ">
        <div class="card-header bg-warning-subtle text-center text-uppercase ">
            Proposer un nouveau manga
        </div>
        <div class="card-body">
            <form action="/Account" method="post">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Titre</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="titre">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nom de l'auteur</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="surnameAuthor"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Prénom de l'auteur</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="nameAuthor"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Genre</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="kind"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre de tomes</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="numberBooks"
                        aria-describedby="emailHelp">
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-warning ">Envoyer la demande</button>
                </div>
            </form>
        </div>
    </div>
</div>