#iconAccount {
    background: #fefefe;
    border-radius: 100%;
    height: 32px
}

#lightmode {
    background: #fefefe;
    border-radius: 50%;
    height: 32px
}

#iconAccountPage{
    height: 70px;
    background: #fefefe;
    border-radius: 100%;
}

ul.list-group li#list-account.list-group-item:hover a {
    color: rgb(252, 161, 217);
}

ul.list-group li#list-account.list-group-item a{
    color: inherit;
    text-decoration: none,
}
.card-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .card-overlay {
    opacity: 1;
}
.overlay-content{
    color:bisque;
}

.custom-fav{
    fill: pink; 
}
.custom-fav:hover{
    fill: goldenrod
}
.custom-fav2{
    fill: rgb(83, 26, 35); 
}
.custom-fav2:hover{
    fill: goldenrod
}
.custom-fav3{
    fill: rgb(17, 118, 29); 
}
.custom-fav3:hover{
    fill: goldenrod
}
.error{
    color: red;
    display: none;
}

.error-message{
    color: red;
    margin-left: 30px;
}
